<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.suus.mapper.ChartMapper">

	<select id="findYearlyData" resultType="kr.suus.dto.ChartResDto">
	    SELECT YEAR as Year, SUM(USAGE_TIME) AS UsageTime
	    FROM Usage_data
	    WHERE COMPANY_ID = #{companyId}
	      AND Year >= YEAR(CURDATE()) - 5
	    GROUP BY Year, COMPANY_ID
	    ORDER BY Year ASC
	</select>

	<select id="findMonthlyData" resultType="kr.suus.dto.ChartResDto">
	    SELECT YEAR as Year, MONTH as Month, SUM(USAGE_TIME) AS UsageTime
	    FROM Usage_data
	    WHERE COMPANY_ID = #{companyId}
	      AND CONCAT(Year, '-', Month) >= DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 6 MONTH), '%Y-%m')
	    GROUP BY Year, Month, COMPANY_ID
	    ORDER BY Year ASC, Month ASC
	</select>

	<select id="findWeeklyData" resultType="kr.suus.dto.ChartResDto">
	    SELECT YEAR as Year, MONTH as Month, DAY as Day, SUM(USAGE_TIME) AS UsageTime
	    FROM Usage_data
	    WHERE COMPANY_ID = #{companyId}
	      AND DATE(CONCAT(Year, '-', Month, '-', Day)) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
    	GROUP BY Year, Month, Day, COMPANY_ID
    	ORDER BY Year ASC, Month ASC
	</select>
	
	<select id="findSearchYearlyData" resultType="kr.suus.dto.ChartResDto" parameterType="kr.suus.dto.ChartReqDto">
	    SELECT YEAR as Year, SUM(USAGE_TIME) AS UsageTime
	    FROM Usage_data
	    WHERE COMPANY_ID = #{companyId}
	    AND Year BETWEEN #{startYear} AND #{endYear}
	    GROUP BY Year, COMPANY_ID
	    ORDER BY Year ASC
	</select>

	<select id="findSearchMonthlyData" resultType="kr.suus.dto.ChartResDto" parameterType="kr.suus.dto.ChartReqDto">
	    SELECT YEAR as Year, MONTH as Month, SUM(USAGE_TIME) AS UsageTime
	    FROM Usage_data
	    WHERE COMPANY_ID = #{companyId}
	    	AND (Year > #{startYear} OR (Year = #{startYear} AND Month >= #{startMonth}))
			AND <![CDATA[(Year < #{endYear} OR (Year = #{endYear} AND Month <= #{endMonth}))]]>
	    GROUP BY Year, Month, COMPANY_ID
	    ORDER BY Year ASC, Month ASC
	</select>

	<select id="findSearchWeeklyData" resultType="kr.suus.dto.ChartResDto" parameterType="kr.suus.dto.ChartReqDto">
	    SELECT YEAR as Year, MONTH as Month, DAY as Day, SUM(USAGE_TIME) AS UsageTime
	    FROM Usage_data
	    WHERE COMPANY_ID = #{companyId}
	      AND DATE(CONCAT(Year, '-', Month, '-', Day)) BETWEEN
	          DATE(CONCAT(#{startYear}, '-', #{startMonth}, '-', #{startDay}))
	          AND DATE(CONCAT(#{endYear}, '-', #{endMonth}, '-', #{endDay}))
	    GROUP BY Year, Month, Day, COMPANY_ID
	    ORDER BY Year ASC, Month ASC, Day ASC
	</select>
	
</mapper>