<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.suus.mapper.CompanyMapper">
	<!-- 기업ID 중복 체크 -->
    <select id="ckComIdDup" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM Company WHERE COMPANY_ID = #{companyId}
    </select>
    
	<!-- 기업정보 저장 -->
	<insert id="insertCompany" parameterType="kr.suus.entity.Company">
        INSERT INTO Company (COMPANY_ID, COMPANY_PW, COMPANY_NM, CONTACT)
        VALUES (#{companyId}, #{companyPw}, #{companyName}, #{contact})
    </insert>
    
    <!-- 기업 로그인 -->
	<select id="ComSignIn" parameterType="kr.suus.dto.SignInReqDto" resultType="kr.suus.dto.SignInResDto">
	    SELECT COMPANY_ID as companyId, COMPANY_NM as userName FROM Company WHERE COMPANY_ID = #{signId} AND COMPANY_PW = #{signPw}
	</select>
	
	<!-- 기업 정보 -->
	<select id="CompanyInfo" parameterType="String" resultType="kr.suus.entity.Company">
	    SELECT COMPANY_ID as companyId, COMPANY_PW as companyPw, COMPANY_NM as companyName, CONTACT as contact
	    FROM Company WHERE COMPANY_ID = #{userId}
	</select>
	
	<!-- 기업 정보 업데이트 -->
	<update id="UpdateCompanyInfo" parameterType="kr.suus.entity.Company" >
		UPDATE Company
			SET COMPANY_NM = #{companyName}, COMPANY_PW = #{companyPw}, CONTACT = #{contact}
		WHERE COMPANY_ID = #{companyId}
	</update>
	
	<!-- 카드정보 저장 -->
    <insert id="insertCard" parameterType="kr.suus.entity.Card">
        INSERT INTO Card (ENCRYPTED_DATA, IV, COMPANY_ID)
        VALUES (#{EncryptedData}, #{iv}, #{companyId})
    </insert>
    
    <!-- 카드정보 조회-->
    <select id="GetCardData" resultType="kr.suus.entity.Card" parameterType="String">
    	SELECT CARD_IDX as cardIdx, ENCRYPTED_DATA as EncryptedData, IV as iv, COMPANY_ID as companyId 
    	FROM Card WHERE COMPANY_ID = #{companyId}
    </select>
    
    <!-- 카드정보 업데이트 -->
    <update id="UpdateCardData" parameterType="kr.suus.entity.Card">
		UPDATE Card
			SET ENCRYPTED_DATA = #{EncryptedData}, IV = #{iv}
		WHERE COMPANY_ID = #{companyId}
	</update>
</mapper>