<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.suus.mapper.UserMapper">
    <!-- 유저ID 중복 체크 -->
    <select id="ckUserIdDup" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM User WHERE USER_ID = #{userId}
    </select>
    
    <!-- 유저정보 저장 -->
    <insert id="insertUser" parameterType="kr.suus.entity.User">
        INSERT INTO User (USER_ID, USER_PW, USER_NM, COMPANY_ID)
        VALUES (#{userId}, #{userPw}, #{userName}, #{companyId})
    </insert>
    
    <!-- 유저 로그인 -->
	<select id="UserSignIn" parameterType="kr.suus.dto.SignInReqDto" resultType="kr.suus.dto.SignInResDto">
	    SELECT USER_NM as userName, USER_ID as userId, COMPANY_ID as companyId FROM User WHERE USER_ID = #{signId} AND USER_PW = #{signPw}
	</select>
	
	<!-- 유저 정보 -->
	<select id="UserInfo" parameterType="String" resultType="kr.suus.entity.User">
	    SELECT USER_ID as userId, USER_PW as userPw, USER_NM as userName, COMPANY_ID as companyId
	    FROM User WHERE USER_ID = #{userId}
	</select>
	
	<!-- 유저 정보 업데이트 -->
	<update id="UpdateUserInfo" parameterType="kr.suus.entity.User" >
		UPDATE User
			SET USER_NM = #{userName}, USER_PW = #{userPw}
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- 사용시간 계산 -->
	<insert id="UpdateUsageTime" parameterType="kr.suus.dto.UsageDataDto">
    	INSERT INTO Usage_data (YEAR, MONTH, DAY, USAGE_TIME, COMPANY_ID)
    		VALUES (YEAR(CURDATE()), MONTH(CURDATE()), DAY(CURDATE()), #{usageTime}, #{companyId})
    		ON DUPLICATE KEY UPDATE USAGE_TIME = USAGE_TIME + #{usageTime};
	</insert>
    
</mapper>